.alert {
  margin: .3em;
  padding: .8em 1em;
  background-color: #73dcff;
  color: #ffffff;
  border: .3em solid #ffffff;
  border-radius: 1.5em;
  &.green {
    background-color: #65e1a3;
  }
  &.yellow {
    background-color: #ffb24c;
  }
  &.red {
    background-color: #ee3b3b;
  }
}