

*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


@font-face {
  font-family: 'dax-regular';
  src: url('../fonts/dax-regular.eot');
  src: url('../fonts/dax-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/dax-regular.woff2') format('woff2'),
  url('../fonts/dax-regular.woff') format('woff'),
  url('../fonts/dax-regular.ttf') format('truetype'),
  url('../fonts/dax-regular.svg#dax-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-family:dax-regular;

.transition-setting(@action:boder-color,@time:ease-in-out .15s){
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  transition: @arguments;
}
//---------------------------------------------------------------



//----------------------------修改所有input的placeholder的默认色-----------------------------------
::-webkit-input-placeholder {
  color: #d8d8d8;
}
:-moz-placeholder {/* Firefox 18- */
  color: #d8d8d8;
}
::-moz-placeholder{/* Firefox 19+ */
  color: #d8d8d8;
}
:-ms-input-placeholder {//IE私有属性
  color: #d8d8d8;
}

input:focus,textarea:focus,select:focus,span:focus{//去除Chrome等浏览器文本框默认发光边框
  outline: none;
}


//----------------------------定义normal表单样式-----------------------------------
.form{
  font-family: @font-family;
}
.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="url"],
.form input[type="date"],
.form input[type="month"],
.form input[type="time"],
.form input[type="datetime"],
.form input[type="datetime-local"],
.form input[type="week"],
.form input[type="number"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="color"],
.form select,
.form textarea,
.form input:not([type]){
  padding: 0.5em 1em;
  display: inline-block;
  border: 1px solid #d8d8d8;
  border-radius: 0px;
  font-size: 100%;
  font-family: @font-family;
  -webkit-tap-highlight-color: transparent;/*苹果设备的点击阴影屏蔽，使效果统一*/
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  .transition-setting(border-color.3s);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:hover {
    border-color: #d8d8d8;
  }
  &:focus {
    border: 1px solid #8fe1fd;
    box-shadow: 0px 0px 10px rgba(143,225,253,0.6);
    .transition-setting(box-shadow ease-in-out 0.3s);//transition竟然不支持box-shadow的过度!疯了@！
  }
  &[disabled]{
    cursor: not-allowed;
    box-shadow: none;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    color: #e0e0e0;
  }
}


//----------------------------Type="Color"-----------------------------------
.form select{//宽度与表单一致 长度待定
  padding: 0.5em 1em;
}

//.form input[type="file"],
.form input[type="radio"],
.form input[type="checkbox"]{
  &:focus {
    outline: thin dotted #333; //点组成的虚线 Firework 疑似没有作用
    outline: 1px auto #73dcff; //边,配合基础色系的焦点状态 Chrome
  }
}
.form .checkbox,
.form .radio {
  font-size: 100%;
  font-family: @font-family;
  margin: 0.5em 0;
  display: block;
  &[disabled]{
    cursor: not-allowed;
  }
}
.form .checkbox-inline,
.form .radio-inline {
  font-size: 100%;
  font-family: @font-family;
  margin: 0.5em 0;
  display: inline-block;
}

.form input[readonly],//只读读文本
.form select[readonly],
.form textarea[readonly] {
  background: #f6f6f6;
  color:#434343;
  border-color: #d8d8d8;
}


//----------------------------消息提示(功能要不要呢)-----------------------------------
.form input:focus:invalid,
.form textarea:focus:invalid,
.form select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
.form input:focus:invalid:focus,
.form textarea:focus:invalid:focus,
.form select:focus:invalid:focus {
  border-color: #e9322d;
}
.form input[type="file"]:focus:invalid:focus,
.form input[type="radio"]:focus:invalid:focus,
.form input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d;
}


.form select {
  border: 1px solid #ccc;
  background-color: white;
}

.form select[multiple] {//同时选中多个选框
  height: auto;
}
.form label {
  color:#333333;
  margin: 0.5em 0 0.2em;
  font-family: @font-family;
}
.form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}
.form legend {
  display: block;
  width: 100%;
  padding: 0.5em 0;
  margin-bottom: 0.4em;
  font-family: @font-family;
  font-size: 110%;
  color: #333333;
  border-bottom: 1px solid #e5e5e5;
}

//----------------------------form-order类 进行块组织-----------------------------------
.input-lg-order input[type="text"],
.form-order input[type="password"],
.form-order input[type="email"],
.form-order input[type="url"],
.form-order input[type="date"],
.form-order input[type="month"],
.form-order input[type="time"],
.form-order input[type="datetime"],
.form-order input[type="datetime-local"],
.form-order input[type="week"],
.form-order input[type="number"],
.form-order input[type="search"],
.form-order input[type="tel"],
.form-order input[type="color"],
.form-order select,
.form-order textarea,
.form-order input:not([type]){
  display: block;
  margin-top:0.25em;
  margin-bottom: 0.5em;
}
.form-order label{
  display: block;
  margin-top:0.25em;
}

.form-order .input-group input[type="text"],
.form-order .input-group input[type="password"],
.form-order .input-group input[type="email"],
.form-order .input-group input[type="url"],
.form-order .input-group input[type="date"],
.form-order .input-group input[type="month"],
.form-order .input-group input[type="time"],
.form-order .input-group input[type="datetime"],
.form-order .input-group input[type="datetime-local"],
.form-order .input-group input[type="week"],
.form-order .input-group input[type="number"],
.form-order .input-group input[type="search"],
.form-order .input-group input[type="tel"],
.form-order .input-group input[type="color"],
.form-order .input-group select,
.form-order .input-group label,
.form-order .input-group textarea,
.form-order .input-group input:not([type]){
  display:inline-block;
  margin-top:0.25em;
  margin-bottom: 0.5em;
}
.form-order .input-group label{
  display:inline-block;
  margin-top:0.25em;
}

//----------------------------form-block类 进行块组织-----------------------------------
.form-block input[type="text"],
.form-block input[type="password"],
.form-block input[type="email"],
.form-block input[type="url"],
.form-block input[type="date"],
.form-block input[type="month"],
.form-block input[type="time"],
.form-block input[type="datetime"],
.form-block input[type="datetime-local"],
.form-block input[type="week"],
.form-block input[type="number"],
.form-block input[type="search"],
.form-block input[type="tel"],
.form-block input[type="color"],
.form-block select,
.form-block textarea,
.form-block input:not([type]){
  display: block;
  width:100%;
  margin-bottom: 0.5em;
}
.form-block label{
  display: block;
  width:100%;
}


.form-aligned input,
.form-aligned textarea,
.form-aligned select,
.form-aligned .help-inline,
.form-message-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.form-aligned textarea {
  vertical-align: top;
}

/* Aligned Forms */
.form-aligned .control-group {
  margin-bottom: 0.5em;
}

.form-aligned .control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}

.form-aligned .controls {//定制特殊样式，一般用于表单中的checkbox等
  margin: 1.5em 0 0 10em;
}

//----------------------------form或期中input使用圆角-----------------------------------
.form input.input-rounded,
.form .input-rounded {
  border-radius: 2em;
  padding: 0.5em 1em;
}

//-----------------------------组input----------------------------------
.form .group fieldset {
  margin-bottom: 10px;
}

.form .group input {
  display: block;
  padding: 10px 1em;
  margin: 0;
  border-radius: 0;
  position: relative;
  top: -1px;
}
.form .group input:focus {
  z-index: 2;
}
.form .group input:first-child {
  top: 1px;
//  border-top-right-radius: 10px;

}
.form .group input:last-child {
  top: -2px;
//  border-bottom-left-radius: 10px;
}
.form .group button {
  margin: 0.35em 0;
}

.form .input-1 {
  width: 100%;
}
.form .input-2-3 {
  width: 66%;
}
.form .input-1-2 {
  width: 50%;
}
.form .input-1-3 {
  width: 33%;
}
.form .input-1-4 {
  width: 25%;
}


/* Inline help for forms */
/* NOTE: help-inline is deprecated. Use .form-message-inline instead. */
.form .help-inline,
.form-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: #666;
  vertical-align: middle;
  font-size: 0.875em;
}

/* Block help for forms */
.form-message {
  display: block;
  color: #666;
  font-size: 0.875em;
}

//----------------------------input-group-----------------------------------

.input-group {
  >div:first-child{
    margin-right: -0.34em;
  }
  >input:first-child{
    margin-right: -0.34em;
  }
}
.form .input-group .input-info{
  margin-top:0.25em;
  margin-bottom: 0.3em;
  padding: 0.5em 0.6em;
  font-size: inherit;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid #d8d8d8;
  border-radius: 0px;
  font-family: @font-family;
  box-shadow: none;
  background-color: #e6e6e6;
  color: #434343;
}

//----------------------------多媒体响应式设计-----------------------------------
@media only screen and (max-width : 480px) {
  .form button[type="submit"] {
    margin: 0.7em 0 0;
  }

  .form input:not([type]),
  .form input[type="text"],
  .form input[type="password"],
  .form input[type="email"],
  .form input[type="url"],
  .form input[type="date"],
  .form input[type="month"],
  .form input[type="time"],
  .form input[type="datetime"],
  .form input[type="datetime-local"],
  .form input[type="week"],
  .form input[type="number"],
  .form input[type="search"],
  .form input[type="tel"],
  .form input[type="color"],
  .form label {
    margin-bottom: 0.3em;
    display: block;
  }


  .group input:not([type]),
  .group input[type="text"],
  .group input[type="password"],
  .group input[type="email"],
  .group input[type="url"],
  .group input[type="date"],
  .group input[type="month"],
  .group input[type="time"],
  .group input[type="datetime"],
  .group input[type="datetime-local"],
  .group input[type="week"],
  .group input[type="number"],
  .group input[type="search"],
  .group input[type="tel"],
  .group input[type="color"] {
    margin-bottom: 0;
  }

  .form-aligned .control-group label {
    margin-bottom: 0.3em;
    text-align: left;
    display: block;
    width: 100%;
  }

  .form-aligned .controls {
    margin: 1.5em 0 0 0;
  }

  /* NOTE: help-inline is deprecated. Use .form-message-inline instead. */
  .form .help-inline,
  .form-message-inline,
  .form-message {
    display: block;
    font-size: 0.75em;
    /* Increased bottom padding to make it group with its related input element. */
    padding: 0.2em 0 0.8em;
  }
}


.file{
  margin-top: 0.3em;
  padding:0.4em 0.8em;
  display:inline-block;
  border:1px solid #ccc;
  background:#e6e6e6;
  color:#434343;
  font-family: @font-family;
  text-align:center;
  overflow:hidden;
  position:relative;
  -moz-transition: border-color ease-in-out;
  -webkit-transition:  border-color ease-in-out;
  transition: border-color ease-in-out;
  &:hover {
    border: 1px solid #73dcff;
  }
  &:focus{
    border: 1px solid #8fe1fd;
    box-shadow: 0px 0px 10px rgba(143, 225, 253, 0.6);;//这里的focus<span>中不使用tabindex不起作用 js解决
     }
  }

.file+label{
   margin-top:0;
   font-size:80%;
   color:#a2a2a2;
}
.fbtn {
  width: 125px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  }

.form .input-group+.input-xl,
.form .input-xl+.input-group,
.form input.input-xl,
.form select.input-xl,
.form textarea.input-xl,
.form input:not([type]).input-xl{
  font-size: 125%;
}
.form .input-group+.input-lg,
.form .input-lg+.input-group,
.form input.input-lg,
.form select.input-lg,
.form textarea.input-lg,
.form input:not([type]).input-lg{
  font-size: 110%;
}
.form .input-group+.input-sm,
.form .input-sm+.input-group,
.form input.input-sm,
.form select.input-sm,
.form textarea.input-sm,
.form input:not([type]).input-sm{
  font-size: 85%;
}
.form .input-group+.input-xs,
.form .input-xs+.input-group,
.form input.input-xs,
.form select.input-xs,
.form textarea.input-xs,
.form input:not([type]).input-xs{
  font-size: 70%;
}