.img {
  display: inline-block;
  border: .6em solid white;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-circle {
//  padding: .3em;
  border-radius: 50%;
}

.img-bordered {
  display: inline-block;
  padding: .3em;
  border: .2em solid #d3d3d3;
  >.img {
    border: 0;
  }
}

.media-item {
  margin: .5em;
  color: #acacac;
  >img {
    display: inline-block;
    width: 5em;
    height: 5em;
    margin: 0 .5em;
    border: 0;
    vertical-align: middle;
  }
  >.mi-content {
    display: inline-block;
    vertical-align: middle;
  }
}

.img-thumbnail {
  border: .2em solid #73dcff;
  transition: all .3s;
}

.bgd-1 {
  background-color: #86b37f;
}

[class*='img-group'] {
  >.img {
    display: table-cell;
    width: 25%;
    margin: 0;
    letter-spacing: normal;
    word-spacing: normal;
    border: 0;
  }
}