.img {
  padding: .5em;
  border: .2em solid #efefef;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

img.img-circle {
  border-radius: 50%;
}

div.img-circle {
  background-color: #86f3bc;
  display: inline-block;
  padding: 0 .3em;
  >.img {
    margin: .5em 0;
    border: 0;
    border-radius: 50%;
    background-color: #ffffff;
  }
}

.media-item {
  padding: .5em;
  overflow: hidden;
  color: #acacac;
  >img {
    width: 5em;
    height: 5em;
    margin: .5em;
    float: left;
  }
}