.list-group {
  padding: 1em;
  >.list-item {
    padding: 1em .5em;
    border-bottom: solid .1em #d6d6d6;
    &:first-child {
      border-top: solid .1em #d6d6d6;
    }
    &:hover {
      background-color: #efefef;
    }
  }
}

.list-chooseable {
  >.list-item {
    padding: 0 .5em;
    cursor: pointer;
    >a {
      display: block;
      width: 100%;
      height: auto;
      padding: 1em 0;
      text-decoration: none;
      &:link {
        color: inherit;
      }
      &:visited {
        color: inherit;
      }
    }
  }
}

.list-touchmovable {
  >.list-item {
    overflow: hidden;
  }
  span {
    display: none;
  }
}

.list-touchmoved {
  position: relative;
  left: -2em;
  animation: touchmovedleft .5s;
  >span {
    display: inline;
    position: absolute;
    top: 0;
    right: -2.5em;
    padding: 1em .5em;
    background-color: #ff0000;
    color: #ffffff;
    animation: touchmovedright .5s;
  }
}

@keyframes touchmovedleft {
  from {
    left: 0;
  }
  to {
    left: -2em;
  }
}
@keyframes touchmovedright {
  from {
    right: -4em;
  }
  to {
    right: -2.5em;
  }
}

.list-content {
  display: none;
  padding: 1em;
  border: .1em solid #d6d6d6;
}

.list-organ {
  >.list-item {
    background-color: #efefef;
    cursor: pointer;
  }
}