

@font-face {
    font-family: dax-regular;
    src: fonts;
}
/*...................................基础按钮类....................................*/

.btn {
    display: inline-block;
    margin: 0 ; /*自己网页看全部按钮效果的时候用3px替换auto*/
    padding: 0.5em 1em;
    font-family: dax-regular;
    font-size: 100%;
    -webkit-tap-highlight-color: transparent;/*还要继续修改有关于响应式的设计*/
    -webkit-transition:background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition:background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.btn:focus{/*解决在Chrome浏览器中点击后黄色边框的问题*/
    outline: 0;
}

/*...................................按钮大小类....................................*/
.btn-xl{
    font-size: 125%;
}

.btn-lg{
    font-size: 110%;
}

.btn-sm{
    font-size: 85%;
}
.btn-xs{
    font-size: 70%;
}

/*...................................幽霊按钮系列类....................................*/
.btn-yl{
    border-radius: 0px;
    color:white;
    border: 1px solid ;
    background: transparent;
    -webkit-transition: text-shadow 0.3s,background-color 0.4s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition:text-shadow 0.3s, background-color 0.4s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}
.btn-yl:hover{
    text-shadow:0 0 5px #000;
    -webkit-transition: text-shadow 0.3s,background-color 0.4s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition:text-shadow 0.3s, background-color 0.4s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.btn-yl:active{
    background-color: white;
    -webkit-transition: text-shadow 0.3s,background-color 0.4s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: text-shadow 0.3s,background-color 0.4s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}


/*...................................透明边框系列类....................................*/
.btn-lu-r{/*圆角透明按钮*/
    border-radius: 20px;
    background: transparent;
}
.btn-lu-sr{/*小圆角透明按钮*/
    border-radius: 5px;
    background: transparent;
}
.btn-lu-s{/*方角透明按钮*/
    border-radius: 0px;
    background: transparent;
}


/*...................................无边框扁平系列类....................................*/
.btn-fl-r{/*圆角按钮*/
    border-radius: 20px
}
.btn-fl-sr{/*小圆角按钮*/
    border-radius: 5px;
}
.btn-fl-s{/*方角扁平按钮*/
    border-radius: 0px;
}

/*........................................Link按钮类...................................*/
.btn-link{/*Link按钮*/
    border: 0px solid ;
    background: transparent;
    color: #259bf5;
}
.btn-link:hover{
    text-decoration:underline;
    color: #008bf5;
}
.btn-link:hover{
    text-decoration:underline;
    color: #0a7acf;
}
.btn-link-disabled{
    border: 0px solid ;
    background: transparent;
    color: #6ebaf5;
}


/*......................................透明按钮颜色的分类动作.....................................*/
.btn-lu-default{/*deafault颜色类*/
    border: 1px solid #cccccc;
    color:black;
}
.btn-lu-default:hover{
    background-color:#cccccc;
    color: white;
}
.btn-lu-default:active{
    border: 1px solid #b8b8b8;
    background-color:#b8b8b8;
}
.btn-lu-default-disabled{
    border: 1px solid #bfbfbf;
    color:#b8b8b8;
}


.btn-lu-primary{/*primary颜色类*/
    border: 1px solid #259bf5;
    color:#259bf5;
}
.btn-lu-primary:hover{
    background-color:#259bf5 ;
    color: white;
}
.btn-lu-primary:active{
    border: 1px solid #0a7acf;
    background-color:#0a7acf;
}
.btn-lu-primary-disabled{/*primary颜色类*/
    border: 1px solid #87c5f5;
    color:#87c5f5;
}


.btn-lu-secondary{/*secondary颜色类*/
    border: 1px solid #73dcff;
    color:#73dcff;
}
.btn-lu-secondary:hover{
    background-color:#73dcff ;
    color: white;
}
.btn-lu-secondary:active{
    border: 1px solid #50c0e6;
    background-color:#50c0e6;
}
.btn-lu-secondary-disabled{/*secondary颜色类*/
    border: 1px solid #a6e9ff;
    color:#a6e9ff;
}

.btn-lu-success{/*success颜色类*/
    border: 1px solid #65e1a3;
    color:#65e1a3;
}
.btn-lu-success:hover{
    background-color:#65e1a3 ;
    color: white;
}
.btn-lu-success:active{
    border: 1px solid #46c786;
    background-color:#46c786;
}
.btn-lu-success-disabled{/*success颜色类*/
    border: 1px solid #92e0b9;
    color:#92e0b9;
}


.btn-lu-warning{/*waring颜色类*/
    border: 1px solid #ffb24c;
    color:#ffb24c;
}
.btn-lu-warning:hover{
    background-color:#ffb24c ;
    color: white;
}
.btn-lu-warning:active{
    border: 1px solid #ffa126;
    background-color:#ffa126;
}
.btn-lu-warning-disabled{/*waring颜色类*/
    border: 1px solid #ffc880;
    color:#ffc880;
}

.btn-lu-error{/*error颜色类*/
    border: 1px solid #ed5353;
    color:#ee3b3b;
}
.btn-lu-error:hover{
    background-color:#ee3b3b ;
    color: white;
}
.btn-lu-error:active{
    border: 1px solid #d42020;
    background-color:#d42020;
}
.btn-lu-error-disabled{/*error颜色类*/
    border: 1px solid #ed8e8e;
    color:#ed8e8e;
}

/*......................................全色按钮颜色的分类动作.....................................*/
.btn-fl-default{
    border: 1px solid transparent;
    background: #e6e6e6;
    color:black;
}
.btn-fl-default:hover{
    border: 1px solid #cccccc;
    background: #cccccc;
    color:black;
}
.btn-fl-default:active{
    border: 1px solid #cccccc;
    background: #cccccc;
    color:black;
    -moz-box-shadow:inset 0px 2px 8px #b8b8b8;
    -webkit-box-shadow:inset 0px 2px 8px #b8b8b8;
    box-shadow:inset  0px 2px 8px #b8b8b8;
}
.btn-fl-default-disabled{
    border: 1px solid transparent;
    background: #f5f5f5;
    color:#b8b8b8;
}


.btn-fl-primary{
    border: 1px solid transparent;
    background: #259bf5;
    color: white;
}
.btn-fl-primary:hover{
    border: 1px solid #0a7acf;
    background: #0a7acf;
    color:white;
}
.btn-fl-primary:active{
    border: 1px solid #0a7acf;
    background: #0a7acf;
    color:white;
    -moz-box-shadow:inset 0px 2px 8px #0863a8;
    -webkit-box-shadow:inset 0px 2px 8px #0863a8;
    box-shadow:inset  0px 2px 8px #0863a8;
}
.btn-fl-primary-disabled{
    border: 1px solid #87c5f5;
    background: #87c5f5;
    color: white;
}


.btn-fl-secondary{
    border: 1px solid transparent;
    background: #73dcff;
    color: white;
}
.btn-fl-secondary:hover{
    border: 1px solid #50c0e6;
    background: #50c0e6;
    color:white;
}
.btn-fl-secondary:active{
    border: 1px solid #50c0e6;
    background: #50c0e6;
    color:white;
    -moz-box-shadow:inset 0px 2px 8px #43a0bf;
    -webkit-box-shadow:inset 0px 2px 8px #43a0bf;
    box-shadow:inset  0px 2px 8px #43a0bf;
}
.btn-fl-secondary-disabled{
    border: 1px solid #a6e9ff;
    background: #a6e9ff;
    color: white;
}
.btn-fl-success{
    border: 1px solid transparent;
    background: #65e1a3;
    color: white;
}
.btn-fl-success:hover{
    border: 1px solid #46c786;
    background: #46c786;
    color:white;
}
.btn-fl-success:active{
    border: 1px solid #46c786;
    background: #46c786;
    color:white;
    -moz-box-shadow:inset 0px 2px 8px #34ad71;
    -webkit-box-shadow:inset 0px 2px 8px #34ad71;
    box-shadow:inset  0px 2px 8px #34ad71;
}
.btn-fl-success-disabled{
    border: 1px solid #92e0b9;
    background: #92e0b9;
    color: white;
}
.btn-fl-warning{
    border: 1px solid transparent;
    background: #ffb24c;
    color: white;
}
.btn-fl-warning:hover{
    border: 1px solid #ffa126;
    background: #ffa126;
    color:white;
}
.btn-fl-warning:active{
    border: 1px solid #ffa126;
    background: #ffa126;
    color:white;
    -moz-box-shadow:inset 0px 2px 8px #bf7d26;
    -webkit-box-shadow:inset 0px 2px 8px #bf7d26;
    box-shadow:inset  0px 2px 8px #bf7d26;
}
.btn-fl-warning-disabled{
    border: 1px solid #ffc880;
    background: #ffc880;
    color: white;
}
.btn-fl-error{
    border: 1px solid transparent;
    background: #ee3b3b;
    color: white;
}
.btn-fl-error:hover{
    border: 1px solid #d42020;
    background: #d42020;
    color:white;
}
.btn-fl-error:active{
    border: 1px solid #d42020;
    background: #d42020;
    color:white;
    -moz-box-shadow:inset 0px 2px 8px #ad1a1a;
    -webkit-box-shadow:inset 0px 2px 8px #ad1a1a;
    box-shadow:inset  0px 2px 8px #ad1a1a;
}
.btn-fl-error-disabled{
    border: 1px solid #ed8e8e;
    background: #ed8e8e;
    color: white;
}

/*A标签的按钮类问题解决*/
a.btn:link{text-decoration:none;}
a.btn:visited{text-decoration:none;}
a.btn:active{text-decoration:none;}
a.btn{
    padding: 0.5em 1em;
    font-family: dax-regular;
    font-size: 100%;
}
a.btn-xl{
    font-size: 125%;
}

a.btn-lg{
    font-size: 110%;
}

a.btn-sm{
    font-size: 85%;
}

a.btn-xs{
    font-size: 70%;
}
